<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">

    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img src="img/LOGO DATA 0.PNG" alt="Logo" width="80" height="80" class="d-inline-block align-text-top"><h1 class="display-5 m-0 text-secondary">Data<span class="text-primary">Security</span></h1>
          
        </a>
      </div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="#caroussel-start" class="nav-item nav-link active">ACCUEIL</a>
            <a href="#apropos" class="nav-item nav-link">DETAILS</a>
            <a href="#services" class="nav-item nav-link">SERVICES</a>
            <!-- <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">SERVICES</a>
                <div class="dropdown-menu m-0">
                    <a href="price.html" class="dropdown-item">Pricing Plan</a>
                    <a href="blog.html" class="dropdown-item">Blog Grid</a>
                    <a href="detail.html" class="dropdown-item">Blog Detail</a>
                    <a href="team.html" class="dropdown-item">The Team</a>
                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                </div>
            </div> -->
            <a href="mailto:datasecurity@datasecurity.ma" class="nav-item nav-link">CONTACT</a>
        </div>
    </div>
</nav>