<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <style>

  </style>
  <body>
    
    
    
    <a href="/adminbrand" class="btn btn-primary mt-3">Ajouter une marque</a> <br>
    <a href="/adminbrandupdate" class="btn btn-primary mt-3">Mettre à jour une marque</a> <br>
    <a href="/adminservice" class="btn btn-primary mt-3">Ajouter un service</a><br>
    <a href="/adminserviceupdate" class="btn btn-primary mt-3">Mettre à jour un service</a><br>
    <a href="/adminproduct" class="btn btn-primary mt-3">Ajouter un produit</a><br>
    <a href="/adminproductupdate" class="btn btn-primary mt-3">Mettre à jour un produit</a><br>
    <a href="/adminclients" class="btn btn-primary mt-3">Ajouter un client</a><br>
    <a href="/adminclientsupdate" class="btn btn-primary mt-3">Mettre à jour un client</a><br>
    <a href="/adminprojects" class="btn btn-primary mt-3">Gérer les Projets</a>
    

    

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </body>
</html>
