<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <style>

  </style>
  <body>
    
    
    
    <a href="/adminbrand" class="btn btn-primary mt-3">add brands</a> <br>
    <a href="/adminservice" class="btn btn-primary mt-3">add service</a><br>
    <a href="/adminproduct" class="btn btn-primary mt-3">add products</a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </body>
</html>
