<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

form {
    display: inline-block;
    margin-top: 20px;
}

form input, form select, form textarea {
    padding: 10px;
    margin: 10px 0;
    display: block;
    width: 300px;
}

form button {
    padding: 10px 20
}
.form-update-brands{
    padding-left: 40%;
}
  </style>
<body>
    <h1>Mettre à jour les marques</h1>
    <div class="form-update-brands">
  

  <!-- Search and Sort Form (Optional) -->
  <!-- You can add search and sort functionality here -->

  <!-- List of Brands -->
  <table>
    <tr>
      <th>Nom</th>
      <th>Action</th>
    </tr>
    <% brands.forEach(brand => { %>
      
      <tr>
        <td><%= brand.name %></td>
        <td>
          <a href="/editbrand/<%= brand._id %>">Edit</a>
          <form action="/deletebrand/<%= brand._id %>" method="POST" style="display:inline;">
            <button type="submit">Delete</button><br><br><br>
          </form>
        </td>
      </tr>
    <% }) %>
  </table>
</div>
  <!-- Include necessary scripts -->
</body>
</html>
