/********** Template CSS **********/
:root {
    --primary: #2878EB;
    --secondary: #F14D5D;
    --light: #ECF4FF;
    --dark: #120F2D;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary,
.btn-primary:hover,
.btn-secondary:hover {
    color: #FFFFFF;
}

.btn-primary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    position: relative;
    margin-left: 30px;
    padding: 50;
    font-size: 20px;
    font-weight: 500;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-nav{
    padding-right: 50px;
}


    


@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        bottom: 0;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(18, 15, 45, .5);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.carousel-indicators {
    align-items: flex-end;
}

.carousel-indicators [data-bs-target] {
    width: 5px;
    height: 25px;
}

.carousel-indicators .active {
    height: 45px;
}

.hero-header {
    background: linear-gradient(rgba(18, 15, 45, .5), rgba(18, 15, 45, .5)), url(../img/carousel-1.jpg) top right no-repeat;
    background-size: cover;
}

.service-item div {
    z-index: 1;
}

.service-item div::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px 2px 0 0;
    transition: .5s;
    z-index: -1;
}

.service-item div:hover::after {
    width: 100%;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


.service-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #eee;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 5px solid var(--primary);
}

.service-item h5 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--primary);
}

.service-item p {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
}

.service-item a {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
}

.service-item a:hover {
    color: var(--secondary);
}

.service-item .position-relative {
    padding: 20px;
    background-color: #f9f9f9;
}




.bg-offer {
    background: linear-gradient(rgba(18, 15, 45, .5), rgba(18, 15, 45, .5)), url(../img/carousel-2.jpg) top right no-repeat;
    background-size: cover;
}

.testimonial-carousel .owl-dots {
    height: 45px;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 5px;
    height: 25px;
    background: #DDDDDD;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    height: 45px;
    background: var(--primary);
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.blog-date {
    position: absolute;
    width: 90px;
    height: 65px;
    top: 75px;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--secondary);
}

.blog-date::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -25px;
    left: 0;
    border: 13px solid;
    border-color: transparent #D34351 #D34351 transparent;
    z-index: -1;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}

form {
    text-align: center;
    margin-top: 20px;
}

form input,
form textarea {
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: block;
    margin: 0 auto;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    height: 0;
  }
  
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
  }
  .grid-item img {
    max-width: 100%;
    max-height: 100%;
  }


  .section-title h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 6px;
    color: #000;
    letter-spacing: 0.3px;
    padding: 0;
}
.section-title::after {
    content: "";
    height: 3px;
    background: #fbb900;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
/****************/
/*	 BX-SLIDER 	*/
/****************/
section.client {
	padding:4em 0em;
	background-color: #eee;

}
section.client .section-title {
	margin-bottom: 6em;
}
.bx-controls {
	position: relative;
}
.bx-wrapper .bx-pager {
    text-align: center;
    padding-top: 30px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.client-logo img {
    width: 100%;
    height: 120px; /* Set a fixed height */
    object-fit: contain; /* Maintain aspect ratio */
}

.instagram-btn {
    background-color: #E4405F; /* Instagram's pink/red gradient */
    border-color: #E4405F;
  }

  .instagram-btn i {
    color: white; /* White icon on the Instagram background */
  }


  .swiper-container {
    width: 100%;
    padding: 20px 0;
    position: relative;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  /* Style pour l'icône "Nouveau" */
.product-item {
    position: relative;
  }
  
  .new-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
  }
 /* Product Card Styles */
.product-item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .product-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .product-item .product-info {
    padding: 15px;
  }
  
  /* Hover Effects */
  .product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product-item:hover img {
    transform: scale(1.05);
  }
  
  /* "New" Icon Styles */
  .new-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  /* Styles pour la section des projets */
.projects-section {
    background-color: #f8f9fa; /* Couleur de fond légère */
    padding: 60px 0;
  }
  
  .projects-section h2 {
    font-size: 36px;
    color: #343a40;
    margin-bottom: 40px;
  }
  
  /* Styles pour le carrousel */
  .project-carousel .swiper-slide {
    display: flex;
    justify-content: center;
  }
  
  .project-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
  }
  
  .project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .project-item h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #007bff; /* Couleur primaire */
  }
  
  .project-item p {
    margin-top: 15px;
    font-size: 16px;
    color: #6c757d;
  }
  
  .brand-item {
  text-align: center;
}

/* Ensure images are responsive */
.brand-item img {
  max-width: 100%;
  height: auto;
}


  /* Make sure the Swiper container takes up the full available width */

  /* Prevent horizontal scroll due to overflow */
body, html {
    overflow-x: hidden;
  }
  .brand-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .brand-item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px; /* Optionnel, pour arrondir les coins */
  }
  .product-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .project-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .client-logo img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px; /* Optionnel, pour arrondir les coins */
  }